<div class="card">  
    <div class="card-body">  
      <form>  
          <div class="form-group">  
            <label class="col-md-4">Image URL</label>  
            <input type="text" class="form-control" name="url" [(ngModel)]="url" />  
          </div> 
        <div class="form-group">  
          <label class="col-md-4">Product Name</label>  
          <input type="text" class="form-control" name ="name" [(ngModel)]="name"/>  
        </div>  
        <div class="form-group">  
          <label class="col-md-4">Product Price</label>  
          <input type="text" class="form-control" name ="price" [(ngModel)]="price"/>  
        </div> 
        <div class="form-group">  
            <label class="col-md-4">Product Description </label>  
            <textarea class="form-control" rows = 7 cols = "5" name ="description" [(ngModel)]="description"></textarea> 
          </div>   
        <div class="form-group">  
            <a routerLink="/products"><button type="submit" class="btn btn-primary" (click)="[addProducts(), addProductstoDB()]">Create Product</button></a>
        </div>  
      </form>  
    </div>  
  </div>  