<div class="background">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <h3 class="text">Login:</h3>
          <hr class="hr2">
        </div>
    
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" name="email"  [(ngModel)]="email" required>
                      <label for="exampleInputEmail1">Email</label>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" name ="Enter password" [(ngModel)]="password" required>
                      <label for="exampleInputPassword1">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="loginUser()">Login</button>
                  </form>
                </div>
            </div>
          </div>