<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopping</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <a routerLink="/cart"><button mat-raised-button><i class="material-icons" [matBadge]="badgeContent" matBadgePosition="below before">shopping_cart</i>Checkout</button></a>
      </div>
    </div>
  </nav>

<body>
    

  <div *ngFor="let item of items">
    <div class="card-body">
        <img src={{item.url}}>
  </div>

    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><a [title]="item.name ">
            {{ item.name }} </a>
  
        {{ item.price | currency }}</h5>
          <p class="card-text" *ngIf="item.description">
            Description: {{ item.description }}
          </p>
          <button mat-icon-button (click)="[incrementCount(), addToCart(item)]">
            <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
      </div>

  </div>
</body>
  